/.ipynb_checkpoints
/1. Computer Programm.ipynb
/1.1 Programmieren_Variablen_Operatoren.ipynb
/1.1 Variablen_1_leer.ipynb
/1.1 Variablen_1_Lösungen.ipynb
/1.1 Variablen_2_leer.ipynb
/1.1 Variablen_2_Lösungen.ipynb
/1.2 String, Listen, Tupel, Array.ipynb
/1.2 String, Listen, Tupeln, Array.ipynb
/2.1 Aufgaben_Verzweigung2_leer_.ipynb
/2.1 Aufgaben_Verzweigung_Fehler.ipynb
/2.1 Aufgaben_Verzweigung_leer.ipynb
/2.1 Aufgaben_Verzweigung_Lösungen.ipynb
/2.1 Kontrollstrukturen - if.ipynb
/2.1 Kontrollstrukturen - Schleifen.ipynb
/2.1. Verzweigung_leer.ipynb
/2.2 Aufgaben_Schleifen_IT-S-23-2.ipynb
/2.2 Aufgaben_Schleifen_leer.ipynb
/20230424 2.1 Aufgaben_Verzweigung_Lösungen.ipynb
/20230425 2 Aufgaben_Kontrollstrukturen_Fehler_IT-S-23-02.ipynb
/20230425 2 Aufgaben_Kontrollstrukturen_Fehler_leer.ipynb
/3 Aufgaben_grafische Darstellung IT-S-23-02.ipynb
/3 Aufgaben_grafische Darstellung_leer.ipynb
/3 Zusatzaufgabe Grafische Darstellung leer.ipynb
/Anpassbarer Brief.ipynb
/Cisco Python Tic-Tac-Toe.ipynb
/Cisco.ipynb
/Gehaltsabrechnung.ipynb
/Handelskalkulation.ipynb
/Image.png
/launch.json
/loops.ipynb
/Scheinprüfung.ipynb
/Sieb des eratosthenes.ipynb
/Streichhölzer.ipynb
/testing.py
/Vaduva 50.ipynb
/Vaduva 52.ipynb
/Zahlenraten.ipynb